.custom-navbar {
    background-color: #0d1b2a; /* Azul oscuro */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-brand-text {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .navbar-brand-text:hover {
    color: #adb5bd;
  }

  .nav-links .nav-link {
    color: white !important;
    font-size: 1.05rem;
    margin-left: 1rem;
    transition: color 0.3s;
  }

  .nav-links .nav-link:hover {
    color: #74c0fc !important; /* Azul claro al pasar el mouse */
  }

  .navbar-toggle {
    border-color: white;
  }
